<ion-toolbar>
  <ion-searchbar animated></ion-searchbar>
</ion-toolbar>
<ion-grid>
  <ion-row class="col">
    <ion-col size-lg=4 size-md=6 offset="auto">
      <ion-card>
        <ion-header class="ion-margin">
          <ion-item>
            <ion-card-title slot="start">
              User
            </ion-card-title>
            <ion-item slot="end">
              <ion-button fill="outline" size="small" color="primary">
                <ion-icon name="pencil-outline" slot=start></ion-icon>
                <label>
                  Edit
                </label>
              </ion-button>
              <ion-button fill="outline" size="small" color="danger">
                <ion-icon name="trash-outline" slot=start></ion-icon>
                <label>
                  Delete
                </label>
              </ion-button>
            </ion-item>
          </ion-item>
        </ion-header>
        <ion-card-content class="ion-margin">
          <ion-card-subtitle>
            User details
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg=4 size-md=6 offset="auto">
      <ion-card>
        <ion-header class="ion-margin">
          <ion-item>
            <ion-card-title slot="start">
              User
            </ion-card-title>
            <ion-item slot="end">
              <ion-button fill="outline" size="small" color="primary">
                <ion-icon name="pencil-outline" slot=start></ion-icon>
                <label>
                  Edit
                </label>
              </ion-button>
              <ion-button fill="outline" size="small" color="danger">
                <ion-icon name="trash-outline" slot=start></ion-icon>
                <label>
                  Delete
                </label>
              </ion-button>
            </ion-item>
          </ion-item>
        </ion-header>
        <ion-card-content class="ion-margin">
          <ion-card-subtitle>
            User details
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg=4 size-md=6 offset="auto">
      <ion-card>
        <ion-header class="ion-margin">
          <ion-item>
            <ion-card-title slot="start">
              User
            </ion-card-title>
            <ion-item slot="end">
              <ion-button fill="outline" size="small" color="primary">
                <ion-icon name="pencil-outline" slot=start></ion-icon>
                <label>
                  Edit
                </label>
              </ion-button>
              <ion-button fill="outline" size="small" color="danger">
                <ion-icon name="trash-outline" slot=start></ion-icon>
                <label>
                  Delete
                </label>
              </ion-button>
            </ion-item>
          </ion-item>
        </ion-header>
        <ion-card-content class="ion-margin">
          <ion-card-subtitle>
            User details
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg=4 size-md=6 offset="auto">
      <ion-card>
        <ion-header class="ion-margin">
          <ion-item>
            <ion-card-title slot="start">
              User
            </ion-card-title>
            <ion-item slot="end">
              <ion-button fill="outline" size="small" color="primary">
                <ion-icon name="pencil-outline" slot=start></ion-icon>
                <label>
                  Edit
                </label>
              </ion-button>
              <ion-button fill="outline" size="small" color="danger">
                <ion-icon name="trash-outline" slot=start></ion-icon>
                <label>
                  Delete
                </label>
              </ion-button>
            </ion-item>
          </ion-item>
        </ion-header>
        <ion-card-content class="ion-margin">
          <ion-card-subtitle>
            User details
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg=4 size-md=6 offset="auto">
      <ion-card>
        <ion-header class="ion-margin">
          <ion-item>
            <ion-card-title slot="start">
              User
            </ion-card-title>
            <ion-item slot="end">
              <ion-button fill="outline" size="small" color="primary">
                <ion-icon name="pencil-outline" slot=start></ion-icon>
                <label>
                  Edit
                </label>
              </ion-button>
              <ion-button fill="outline" size="small" color="danger">
                <ion-icon name="trash-outline" slot=start></ion-icon>
                <label>
                  Delete
                </label>
              </ion-button>
            </ion-item>
          </ion-item>
        </ion-header>
        <ion-card-content class="ion-margin">
          <ion-card-subtitle>
            User details
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg=4 size-md=6 offset="auto">
      <ion-card>
        <ion-header class="ion-margin">
          <ion-item>
            <ion-card-title slot="start">
              User
            </ion-card-title>
            <ion-item slot="end">
              <ion-button fill="outline" size="small" color="primary">
                <ion-icon name="pencil-outline" slot=start></ion-icon>
                <label>
                  Edit
                </label>
              </ion-button>
              <ion-button fill="outline" size="small" color="danger">
                <ion-icon name="trash-outline" slot=start></ion-icon>
                <label>
                  Delete
                </label>
              </ion-button>
            </ion-item>
          </ion-item>
        </ion-header>
        <ion-card-content class="ion-margin">
          <ion-card-subtitle>
            User details
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg=4 size-md=6 offset="auto">
      <ion-card>
        <ion-header class="ion-margin">
          <ion-item>
            <ion-card-title slot="start">
              User
            </ion-card-title>
            <ion-item slot="end">
              <ion-button fill="outline" size="small" color="primary">
                <ion-icon name="pencil-outline" slot=start></ion-icon>
                <label>
                  Edit
                </label>
              </ion-button>
              <ion-button fill="outline" size="small" color="danger">
                <ion-icon name="trash-outline" slot=start></ion-icon>
                <label>
                  Delete
                </label>
              </ion-button>
            </ion-item>
          </ion-item>
        </ion-header>
        <ion-card-content class="ion-margin">
          <ion-card-subtitle>
            User details
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg=4 size-md=6 offset="auto">
      <ion-card>
        <ion-header class="ion-margin">
          <ion-item>
            <ion-card-title slot="start">
              User
            </ion-card-title>
            <ion-item slot="end">
              <ion-button fill="outline" size="small" color="primary">
                <ion-icon name="pencil-outline" slot=start></ion-icon>
                <label>
                  Edit
                </label>
              </ion-button>
              <ion-button fill="outline" size="small" color="danger">
                <ion-icon name="trash-outline" slot=start></ion-icon>
                <label>
                  Delete
                </label>
              </ion-button>
            </ion-item>
          </ion-item>
        </ion-header>
        <ion-card-content class="ion-margin">
          <ion-card-subtitle>
            User details
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg=4 size-md=6 offset="auto">
      <ion-card>
        <ion-header class="ion-margin">
          <ion-item>
            <ion-card-title slot="start">
              User
            </ion-card-title>
            <ion-item slot="end">
              <ion-button fill="outline" size="small" color="primary">
                <ion-icon name="pencil-outline" slot=start></ion-icon>
                <label>
                  Edit
                </label>
              </ion-button>
              <ion-button fill="outline" size="small" color="danger">
                <ion-icon name="trash-outline" slot=start></ion-icon>
                <label>
                  Delete
                </label>
              </ion-button>
            </ion-item>
          </ion-item>
        </ion-header>
        <ion-card-content class="ion-margin">
          <ion-card-subtitle>
            User details
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg=4 size-md=6 offset="auto">
      <ion-card>
        <ion-header class="ion-margin">
          <ion-item>
            <ion-card-title slot="start">
              User
            </ion-card-title>
            <ion-item slot="end">
              <ion-button fill="outline" size="small" color="primary">
                <ion-icon name="pencil-outline" slot=start></ion-icon>
                <label>
                  Edit
                </label>
              </ion-button>
              <ion-button fill="outline" size="small" color="danger">
                <ion-icon name="trash-outline" slot=start></ion-icon>
                <label>
                  Delete
                </label>
              </ion-button>
            </ion-item>
          </ion-item>
        </ion-header>
        <ion-card-content class="ion-margin">
          <ion-card-subtitle>
            User details
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>